name: build-and-test

on:
  push:
    # all branches
  pull_request:
    branches:
      - main
      - master

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v3

      - uses: dylan-lang/install-dylan-tool@v2

      - name: Build tests
        run: | 
          dylan update
          dylan build v3d-test

      - name: Run tests
        run: _build/bin/v3d-test

