name: build-docs

on:
  push:
    # all branches
    paths:
      - 'documentation/**'

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

permissions:
  contents: read

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6

      - name: Generate docs
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/fraya/dylan-docs
          options: -v ${{ github.workspace }}/documentation:/docs
          run: make html

      - name: Add .nojekyll
        run: sudo touch documentation/build/html/.nojekyll

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: documentation/build/html
          target-folder: docs/
