name: build-and-test

on:
  push:
    # all branches
    paths-ignore:
      - 'documentation/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'documentation/**'

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

permissions:
  contents: read
  checks: write  # Junit

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Add OD to PATH
        run: |
          echo "/home/runner/work/v3d/_od/" >> $GITHUB_PATH

      - name: Cache OD compiler
        id: cache-2025-1
        uses: actions/cache@v4
        with:
          path: |
            /home/runner/work/v3d/_od/
          key: ${{ runner.os }}-2025-1

      - name: Cache packages
        id: cache-packages
        uses: actions/cache@v4
        with:
          path: |
            ./_packages
            ./registry
          key: ${{ runner.os }}-${{ hashFiles('**/dylan-package.json') }}

      - name: Install Opendylan
        if: steps.cache-2025-1.outputs.cache-hit != 'true'
        uses: dylan-lang/install-opendylan@v3

      - name: Download dependencies
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: deft update

      - name: Build tests
        run: |
          ls -lR /home/runner/work/
          deft build v3d-test-suite

      - name: Run tests
        run: _build/bin/v3d-test-suite --tag=-benchmark --progress none --report surefire > _build/TEST-v3d.xml

      - name: Publish Test Report
        if: success() || failure()
        uses: mikepenz/action-junit-report@v6
        with:
          report_paths: '**/_build/TEST-*.xml'
